<div class=" mt-5 mb-5 container border border-dark">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <app-card-preview-p1></app-card-preview-p1>
            </div>
            <div class="col-2 text-center" style="margin-top: 12%;">
                <h1 class="text-center"><strong>VS</strong></h1>
            </div>
            <div class="col-5">
                <app-card-preview-p2></app-card-preview-p2>
            </div>
        </div>
        <div class="row text-center">
            <h3><i>Cargando...</i></h3>
        </div>
        <div class="row text-center">
            <div class="col-1">
                <!--Espacio-->
            </div>
            <div class="col-10">
                <progress class="mb-5 w-75 h-75"></progress>
            </div>
            <div class="col-1">
                <!--Espacio-->
            </div>
            
        </div>
    </div>
</div>