<div class=" mt-5 container border border-dark">
  <div class="col-3 float-end">
    <table class="table table-bordered mt-2 float-end">
      <thead>
        <tr class="text-center">
          <th>Jugador</th>
          <th>Victorias</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td>Player 1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Player 1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Player 1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Player 1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Player 1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Player 1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Player 1</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <h1 class="text-center"><strong>THE BATTLE GAME</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container text-center">
        <button class="btn btn-secondary me-3">CAMPAÑA</button>
        <button class="btn btn-secondary me-3">P VS CPU</button>
        <button class="btn btn-secondary me-3">P VS P</button>
        <button class="btn btn-secondary me-3">CPU VS CPU</button>
      </div>
      <div class="col-12">
        <img src="/assets/LogoTBG.png" alt="TBG-Logo" class="w-100">
      </div>
    </div>
  </div>
</div>