<div class=" mt-5 mb-5 container border border-dark p-4">
    <div class="container">
        <h3 class="text-center">{{player1}}</h3>
        <div class="form">
            <form action="" method="get">
               <div class="row mt-2">
                    <div class="col-2">
                        <label class="form-label mt-2" for="name">Nombre: </label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" type="text" name="name" id="name" placeholder="nombre">
                    </div>
               </div>
               <div class="row mt-2">
                    <div class="col-2">
                        <label class="form-label mt-2" for="name">Personaje: </label>
                    </div>
                    <div class="col-10">
                        <select class="form-select" name="" id="">
                            <option value="Mago">Mago</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-center">
                        <img src="/assets/LogoTBG.png" alt="TBG-Logo" class="w-50">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <label class="form-label" for="name">Ataque: </label>
                    </div>
                    <div class="col-10">
                        <progress max="500" value="250" class="form-control h-75"></progress>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <label class="form-label" for="name">Defensa: </label>
                    </div>
                    <div class="col-10">
                        <progress max="500" value="200" class="form-control h-75"></progress>
                    </div>
                </div>                <div class="row mt-2">
                    <div class="col-2">
                        <label class="form-label" for="name">Sabiduría: </label>
                    </div>
                    <div class="col-10">
                        <progress max="500" value="400" class="form-control h-75"></progress>
                    </div>
                </div>                
                <div class="row mt-2">
                    <div class="col-2">
                        <label class="form-label" for="name">Suerte: </label>
                    </div>
                    <div class="col-10">
                        <progress max="100" value="25" class="form-control h-75"></progress>
                    </div>
                </div>
                <div class="row mt-2 text-center">
                    <div class="col-12">
                        <button class="btn btn-primary">LISTO</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
