<div class=" mt-5 mb-5 container border border-dark">
    <div class="col-3 float-end">
      <!--*Inicio de la Tabla de partidas jugadas.-->
      <table class="table table-bordered mt-2 float-end">
        <thead>
          <tr class="text-center">
            <th>Jugador</th>
            <th>Victorias</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td>Player 1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Player 1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Player 1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Player 1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Player 1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Player 1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Player 1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
      <!--#Fin de la tabla de partidas jugadas-->
    </div>
    <!--*Inicio de la fila para el título principal-->
    <div class="row">
      <div class="col-12 mb-4">
        <h1 class="text-center"><strong>THE BATTLE GAME</strong></h1>
      </div>
    </div>
    <!--#Fin de la fila para el título principal-->
    <!--*Inicio de la fila para los botones y el logo-->
    <div class="row">
      <div class="col-12">
        <div class="container text-center">
          <button class="btn btn-secondary me-3">CAMPAÑA</button>
          <button class="btn btn-secondary me-3" (click)="selectionCharacter('PVCPU')">P VS CPU</button>
          <button class="btn btn-secondary me-3" (click)="selectionCharacter('PVP')">P VS P</button>
          <button class="btn btn-secondary me-3">CPU VS CPU</button>
        </div>
        <div class="col-12">
          <img src="/assets/LogoTBG.png" alt="TBG-Logo" class="w-100">
        </div>
      </div>
    </div>
    <!--#Fin de la fila para los botones y el logo-->
</div>