<div class=" mt-5 mb-5 container border border-dark">
    <div class="row mb-4">
        <div class="col-5">
            <h6>999</h6>
            <progress max="999" value="999" class="form-control h-50"></progress>
            <div class="circle-red"></div>
        </div>
        <div class="col-2 mt-2 text-center">
            <h5><strong>2</strong></h5>
            <h5><strong>Round</strong></h5>
        </div>
        <div class="col-5 ">
            <h6 class="float-end">999</h6>
            <progress max="999" value="800" class="form-control h-50 float-end"></progress>
            <div class="circle-red float-end"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <app-card-battle-p1></app-card-battle-p1>
        </div>
        <div class="col-2">
            <p class="text-center">Batalla</p>
            <!--<div class="p-3 border border-dark" id="div-batalla">
                <div class="div-narracion">
                    <h6><span class="fw-bold">Player1: </span>Lanza <span class="fw-bold">Magía Negra</span> </h6>
                    <h6><span class="fw-bold">CPU: </span>Pierde <span class="fw-bold">34pts</span> </h6>
                    <hr>
                </div>
            </div>-->
            <textarea disabled rows="20" cols="20" class="p-1">Player 1: Lanza Magía Negra
CPU: Pierde 34pts
__________________
            </textarea>
        </div>
        <div class="col-5">
            <app-card-battle-p2></app-card-battle-p2>
        </div>
    </div>
</div>