<div style="position: fixed; border: black solid 3px; opacity: 0.1; width: 100%; height: 100%;">
    <img src="/assets/17010.jpg" alt="" class="w-100 img-fluid">
</div>
<div class=" p-5 mb-5 container border border-dark">
    <div class="row">
       
    </div>
    <div class="row mb-4">
        <div class="col-5">
            <h6>{{vidaP1}}</h6>
            <progress max="999" value="{{vidaP1}}" class="form-control h-50"></progress>
            <div *ngFor="let item of victoriasP1" class="circle-red"></div>
        </div>
        <div class="col-2 mt-2 text-center">
            <h5><strong>{{rounds}}</strong></h5>
            <h5><strong>Round</strong></h5>
        </div>
        <div class="col-5 ">
            <h6 class="float-end">{{vidaP2}}</h6>
            <progress max="999" value="{{vidaP2}}" class="form-control h-50 float-end"></progress>
            <div *ngFor="let item of victoriasP1" class="circle-red float-end"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <app-card-battle-p1></app-card-battle-p1>
        </div>
        <div class="col-2">
            <p class="text-center">Batalla</p>
            <!--<div class="p-3 border border-dark" id="div-batalla">
                <div class="div-narracion">
                    <h6><span class="fw-bold">Player1: </span>Lanza <span class="fw-bold">Magía Negra</span> </h6>
                    <h6><span class="fw-bold">CPU: </span>Pierde <span class="fw-bold">34pts</span> </h6>
                    <hr>
                </div>
            </div>-->
            <textarea disabled rows="20" cols="20" class="form-control text-center p-1">{{narraccion}}</textarea>
        </div>
        <div class="col-5">
            <app-card-battle-p2></app-card-battle-p2>
        </div>
    </div>
</div>