<div id="cardP{{player1.image}}" class="rounded shadow-lg mt-5 mb-5 border-2 border-light p-4">
    <div class="container">
        <h3 class="text-center">{{playername}}</h3>
        <div class="form">
                <div class="row mt-2">
                    <div class="col-12 text-center">
                        <img src="/assets/{{player1.image}}.jpg" alt="Imagen del Personaje" class="img-fluid img-thumbnail rounded">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 p-2">
                        <h6>Ataque: </h6>
                    </div>
                    <div class="col-10">
                        <progress max="500" value="{{player1.attack}}" class="form-control h-75"></progress>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 p-2">
                        <h6>Defensa: </h6>
                    </div>
                    <div class="col-10">
                        <progress max="500" value="{{player1.defense}}" class="form-control h-75"></progress>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 p-2">
                        <h6>Sabiduría: </h6>
                    </div>
                    <div class="col-10">
                        <progress max="500" value="{{player1.wisdom}}" class="form-control h-75"></progress>
                    </div>
                </div>                
                <div class="row mt-2">
                    <div class="col-2 p-2">
                        <h6>Suerte: </h6>
                    </div>
                    <div class="col-10">
                        
                        <progress max="100" value="{{player1.luck}}" class="form-control h-75"></progress>
                    </div>
                </div>
                <div class="shadow-lg row mt-2 text-center">
                    <div class="col-12 border-2 border-light rounded">
                        <div class="row">
                            <div class="col-4">
                                <button class="btn btn-primary m-2" (click)="lanzarPoder1()">Poder 1</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary m-2">Poder 2</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary m-2">Poder 3</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button class="btn btn-primary m-2">Poder 4</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary m-2">Poder 5</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-secondary m-2">Rendirse</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                
                            </div>
                            <div class="col-6">
                                <button class="btn btn-danger m-2">Abandonar</button>
                            </div>
                            <div class="col-3">
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
